@import "../node_modules/bootstrap/scss/bootstrap.scss";

$color-letra:rgb(253, 211, 22);
$color-fondo: rgb(70, 152, 228);

$colores_tema: {
    "color-letra": rgb(253, 211, 22),
    "color-fondo": rgb(70, 152, 228);
}