* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main{
    margin: 2rem;
    min-height: 60vh;
}


.btn-super{
    background-color: brown;
    color: bisque;
    padding: 3rem;
    border: 2px solid coral;
}

.container div{
    margin: 1rem;;
}

.btn:hover{
    cursor: pointer;
}

.btn-super:hover{
    cursor: pointer;
}

header {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-color: brown;
    color: antiquewhite;
    padding: 1rem;
    font-size: 1.33rem;
    font-weight: bold;
}



footer {
    min-height: 10vh;
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
