h1 {
    border-radius:30px;
    background-color: deepskyblue;
    padding: 1rem 2rem;
    border: 1px solid;
    text-align: center;
}

main {
    margin: 5%;
}

section.reptiles:after{
    content: '';
    display: block;
    clear: both;
}


.img-wrapper-left {
    width: 50%;
    float: left;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

.img-wrapper-right {
    width: 50%;
    float: right;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

img {
    max-width: 100%;
}

footer {
    height: 6rem;
    background-color: rgb(47, 224, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 2rem 1rem 2rem
    /* line-height: 25rem; */
} 

body {
margin: 0;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

/* aside::before,
aside::after {
    
} */

.img-wrapper-center {
    width: 50%;
    float: left;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

section.tienda:after{
    content: '';
    display: block;
    clear: both;
}