doctype
html(lang=language)
    head
        meta(charset='utf-8')
        title Hola pug
    body
        header
            h1 Hola Pug
        section 
            p.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti accusantium magnam dolores tenetur maxime, assumenda repellendus quidem inventore libero omnis dolorum quasi voluptas tempore! Expedita iure corporis nulla beatae tenetur.
        footer
            address #{autor}