
@font-face {
    font-family:"standorf";
    src: url(../assets/STANFORD\ FREE.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

/* Menu Nav */
.Alineación {
    overflow:hidden; 
    position: fixed;
    text-align:center;
    text-align-last: center;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    
}

nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

nav ul{
    list-style: none;
    text-align:center;
    text-align-last: center;
    /* background-color: #ffffff; */
    box-shadow: 10px 0 10px grey;
    padding: 1.5rem;
}
nav{
    text-align: left;
}
nav li{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
a{
    color: indianred;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
/* Menu Nav */

header {
    padding: 2rem;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

header::before{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.8;
    background-image: url(../assets/suecia-estocolmo_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-family:"standorf";
    font-size: 4rem;
    z-index: 30;
    width: fit-content;
    margin: 0;
}

/* main{
    padding-top: 2rem;
} */
.main{
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


/* //FOOTER */

.main_footer{
    border-radius:30px;
    background: linear-gradient(340deg, #3ea4d4, #3ee9ea);
    background-size: 400% 400%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.02rem;
    height: block;
    border: 1px solid;
}
.main_footer aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main_footer aside li{
    display: inline-block;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}
.main_footer aside a{
    display: block;
}
.iframe_footer {
    width: 100%;
    height: 20vh;
    border: none;
}
.fa-google:before {
    color: rgb(255, 255, 255);
}
.fa-github:before {
    color: aliceblue
}
.fa-facebook:before{
    color: aliceblue
}


.main_table{
    width: 100%;
    text-align: center;

}
/* Filas pares */
.main_table>tbody>tr:nth-of-type(even){
    background-color: rgb(138, 228, 228);
}
/* Filas impares */
.main_table>tbody>tr:nth-of-type(odd){
    background-color: rgb(235, 236, 126);
}
.main_table>tbody>tr{
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.form_control{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;

    background-color: rgb(142, 231, 247)
}
.form_label {
    display: block;
    margin-top: 1rem;
}
fieldset {
    margin-bottom: 1rem;
    border-color: gray;
}