
@font-face {
    font-family:"standorf";
    src: url(../assets/STANFORD\ FREE.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}


header {
    position: relative;
    min-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

header::before{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
    background-image: url(../assets/suecia-estocolmo_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-family:"standorf";
    font-size: 4rem;
    z-index: 30;
    width: fit-content;
    margin: 0;
}




/* main menu styles */
#nav {
    display:inline-block;
    width:100%;
    margin:0px auto;
    padding:0;
    background:#335599 url(../images/bg.png) repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}
#nav li {
    margin:10px;
    float:left;
    position:relative;
    list-style:none;
}
#nav a {
    font-weight:bold;
    color:#e7e5e5;
    text-decoration:none;
    display:block;
    padding:8px 20px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, .7);
}

/* selected menu element */
#nav .current a, #nav li:hover > a {
    background:#7788aa url(../images/bg.png) repeat-x 0 -20px;
    color:#000;
    border-top:1px solid #f8f8f8;

    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/* sublevels */
#nav ul li:hover a, #nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
#nav ul li a:hover {
    background:#335599 url(../images/bg.png) repeat-x 0 -100px;
    color:#fff;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; /*some css3*/
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}
#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*some css3*/
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}

/* drop down */
#nav li:hover > ul {
    opacity:1;
    visibility:visible;
}
#nav ul {
    opacity:0;
    visibility:hidden;
    padding:0;
    width:175px;
    position:absolute;
    background:#aabbcc url(../images/bg.png) repeat-x 0 0;
    border:1px solid #7788aa;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

    -moz-transition:opacity .25s linear, visibility .1s linear .1s;
    -webkit-transition:opacity .25s linear, visibility .1s linear .1s;
    -o-transition:opacity .25s linear, visibility .1s linear .1s;
    transition:opacity .25s linear, visibility .1s linear .1s;
}
#nav ul li {
    float:none;
    margin:0;
}
#nav ul a {
    font-weight:normal;
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
#nav ul ul {
    left:160px;
    top:0px;
}

/* //FOOTER */

.main_footer{
    border-radius:30px;
    background: linear-gradient(340deg, #3ea4d4, #3ee9ea);
    background-size: 400% 400%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.02rem;
    height: block;
    border: 1px solid;
}
.main_footer aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main_footer aside li{
    display: inline-block;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}
.main_footer aside a{
    display: block;
}
.iframe_footer {
    width: 100%;
    height: 20vh;
    border: none;
}
.fa-google:before {
    color: rgb(255, 255, 255);
}
.fa-github:before {
    color: aliceblue
}
.fa-facebook:before{
    color: aliceblue
}


.main_table{
    width: 100%;
    text-align: center;

}
/* Filas pares */
.main_table>tbody>tr:nth-of-type(even){
    background-color: rgb(138, 228, 228);
}
/* Filas impares */
.main_table>tbody>tr:nth-of-type(odd){
    background-color: rgb(235, 236, 126);
}
.main_table>tbody>tr{
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.form_control{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;

    background-color: rgb(142, 231, 247)
}
.form_label {
    display: block;
    margin-top: 1rem;
}
fieldset {
    margin-bottom: 1rem;
    border-color: gray;
}