body {
    margin: 0%;
    /* margin-left: 0.5cm; */
   /*  NUEVO 13-5-19 */
    font-family: 'Playfair Display', serif;
    /* NUEVO 13-5-19 */
}
.verde {
    color: rgb(74, 235, 0);
}
/* .body1 {
    margin: 0%;
    margin-left: 2%;

} */
.main_header {
    /* NUEVO 13-5-19 */
    font-family: 'Comfortaa', cursive;
    /* NUEVO 13-5-19 */
    background-color: brown;
    color: antiquewhite;
    padding: 1rem;
    text-align: center;
    font-size: 1.33rem;
    margin-top: -2rem;
    margin-left: 0rem;
    font-weight: bold;
}

.main_footer{
    background-color: brown;
    color: antiquewhite;
    text-align: center;
    padding: 0.02rem;
    height: block;
    margin-left: -3%;
}

.content_wraper {
    margin: 1rem 2rem 
}
.image_wrapper {
    text-align: center;
}
.image_wrapper1 {
    margin: 1%;
}

img {
    max-width: 100%;
    display: inline-block;
}

.sección_imágenes img{
    max-width: 25%;
    display: block;
    float: left;
    background-color: aqua;
}

.image_wrapper_50{
    width: 50%;
}
.image_wrapper_25{
    width: 25%;
}
.image_wrapper_75{
    width: 75%;
}


h1 {
    font-size: 3rem;
    font-weight: normal;
}
.pre_no_mono {
    font-family: inherit;
}
blockquote {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: italic;
    padding-left: 1rem;
    border-left: 2px solid rgb(117, 117, 117);
    margin-inline-end: 0px;
    max-width: 60%;
    margin: 20px;
    padding: 20px;
    background: #ccc;
}
blockquote footer {
    width: fit-content;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-top: 1px solid gray
}
ul{
    list-style: disc;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dd {
    float: left;
    clear: right;
}
.dt {
    float: left;
    clear: left;
}
.clearfix {
    clear: both;
}

.main_header nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;
}


.Alineación {
    text-align:center;
    text-align-last: center;
}

.main_header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main_header nav{
    margin-left: -1rem;
    text-align: left;
}
.main_header nav li{
    display: inline-block;
}
.main_header a{
    color: indianred;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.web_externa{
    width: 100%;
    height: 60vh;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
video, embed {
    max-width: 100%
}

/* NUEVO */
footer li {
    padding: 8px;
    /* align-content: center; */
}
.main_footer aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main_footer aside li{
    display: inline-block;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}
.main_footer aside a{
    display: block;
    padding: 1rem 0.2rem;
}
.iframe_footer {
    width: 100%;
    height: 20vh;
    border: none;
}
.fa-google:before {
    color: rgb(255, 255, 255);
}
.fa-github:before {
    color: aliceblue
}
.fa-facebook:before{
    color: aliceblue
}

.main_section_footer {
    text-align: right;
    color: brown;
}
/* NUEVO */

.main_table{
    width: 100%;
    text-align: center;

}
/* Filas pares */
.main_table>tbody>tr:nth-of-type(even){
    background-color: rgb(138, 228, 228);
}
/* Filas impares */
.main_table>tbody>tr:nth-of-type(odd){
    background-color: darkorange;
}
.main_table>tbody>tr{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.centrar{
    text-align: center;
}

.form_control{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;

    background-color: rgb(247, 193, 142)
}
.form_label {
    display: block;
    margin-top: 1rem;
}
fieldset {
    margin-bottom: 1rem;
    border-color: bisque;
}
.placeholder {
    color: brown;
    background-color: bisque;
    font-family: 'Playfair Display', serif;
}
/* select:hover {
    color: brown;
} */
.radio_wrapper {
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}
.canvas {
    width: 400px;
    height: 400px;
    border: 2px solid rgb(58, 142, 175);
    background-color: rgb(237, 243, 187)
}